
// Variables

$ain-panel-info-padding: 1em;
$ain-panel-info-border-size: 5px;
$ain-panel-info-header-height: 12em;
$ain-panel-info-logo-size: 7em;
$ain-panel-info-logo-border-size: $ain-panel-info-border-size;
$ain-panel-info-logo-border-radius: 50%;
$ain-panel-info-border-color: #FFFFFF;

$ain-panel-info-border-radius: 0;
$ain-panel-info-border: $ain-panel-info-border-size solid $ain-panel-info-border-color;
$ain-panel-info-margin: 1em;
